################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/WebApp/src/WebApp/bin/Debug/netcoreapp1.0
/src/WebApp/src/WebApp/obj/Debug/netcoreapp1.0
/src/WebApp/.vs/WebApp/v14/.suo
/src/WebApp/.vs/restore.dg
/src/WebApp/src/WebApp/node_modules
/src/WebApp/src/WebApp/wwwroot/fonts
/src/WebApp/src/WebApp/wwwroot/Style
/src/WebApp/src/WebApp/wwwroot/angular.js
/src/WebApp/src/WebApp/wwwroot/app
/src/WebApp/src/WebApp/wwwroot/app.js
/Part1/src/WebApp/src/WebApp/bin/Debug/netcoreapp1.0
/Part1/src/WebApp/src/WebApp/node_modules
/Part1/src/WebApp/src/WebApp/obj/Debug/netcoreapp1.0
/Part1/src/WebApp/.vs/WebApp/v14/.suo
/Part1/src/WebApp/.vs/restore.dg
/Part1/src/WebApp/src/WebApp/wwwroot/app
/Part1/src/WebApp/src/WebApp/wwwroot/fonts
/Part1/src/WebApp/src/WebApp/wwwroot/Style
/Part1/src/WebApp/src/WebApp/wwwroot/angular.js
/Part1/src/WebApp/src/WebApp/wwwroot/app.js
/Part1/src/WebApp/src/WebApp/project.lock.json
/Part1/src/WebApp/src/WebApp/WebApp.xproj.user
/Part2/src/WebApp/.vs/WebApp/v14
/Part2/src/WebApp/src/Test/bin/Debug/netcoreapp1.0
/Part2/src/WebApp/src/Test/obj/Debug/netcoreapp1.0
/Part2/src/WebApp/src/Test/project.lock.json
/Part2/src/WebApp/src/Test/Test.xproj.user
/Part2/src/WebApp/src/WebApp/bin/Debug/netcoreapp1.0
/Part2/src/WebApp/src/WebApp/node_modules
/Part2/src/WebApp/src/WebApp/obj/Debug/netcoreapp1.0
/Part2/src/WebApp/src/WebApp/wwwroot/app
/Part2/src/WebApp/src/WebApp/wwwroot/fonts
/Part2/src/WebApp/src/WebApp/wwwroot/Style
/Part2/src/WebApp/src/WebApp/wwwroot/angular.js
/Part2/src/WebApp/src/WebApp/wwwroot/app.js
/Part2/src/WebApp/src/WebApp/project.lock.json
/Part2/src/WebApp/src/WebApp/WebApp.xproj.user
/src
