<!DOCTYPE html>
<html ng-app="app">
<head>
  <base href="@Url.Content("~/")">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible">

  <title>Welcome</title>

  <script src="angular.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="style/bootstrap.min.css" />

</head>
<body>
  <ng-view></ng-view>
</body>
</html>